@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(./font/NotoSans/NotoSansKR-Regular.woff2) format("woff2"),
    url(./font/NotoSans/NotoSansKR-Regular.woff) format("woff");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(./font/NotoSans/NotoSansKR-Medium.woff2) format("woff2"),
    url(./font/NotoSans/NotoSansKR-Medium.woff) format("woff");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(./font/NotoSans/NotoSansKR-Bold.woff2) format("woff2"),
    url(./font/NotoSans/NotoSansKR-Bold.woff) format("woff");
}

@font-face {
  font-family: "BBTreeC_R";
  src: url("./font/BBTreeC/BBTreeCR.woff2") format("woff2"),
    url("./font/BBTreeC/BBTreeCR.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BBTreeC_B";
  src: url("./font/BBTreeC/BBTreeCB.woff2") format("woff2"),
    url("./font/BBTreeC/BBTreeCB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  font-size: 1rem;
  color: black;
  background-color: #326e3f;
}

:root {
  --coral005: #fff9fa;
}
